
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Raleway", serif;
}

/* Banner */

.flex{
    display: flex;
}

.banner-img{
    background-image: url(../img/banner.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    cursor: pointer;
}
.banner-top{
    justify-content: end;
    gap: 2rem;
    height: 30px;
    align-items: center;
    background-color: #000000b8;
}
.contacto-up ul{
    gap: 1rem;
    align-items: center;
}
.contacto-up ul li{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    color: white;
}
.redes-up{
    background-color: #575252c4;
    padding: 3px 10px;
    margin: 0 35px 0 0;
}
.redes-up .bx{
    font-size: 20px;
}
.redes-up ul{
    gap: 0.3rem;
}

/* header */

header{
    justify-content: space-between;
    padding: 0 3rem;
    align-items: center;
}
.header-left{
    justify-content: end;
    gap: 3rem;
    align-items: center;
}
.lista-header ul{
    gap: 2rem;
}
.lista-header ul li a{
    color: black;
    font-weight: 500;
    text-transform: uppercase;
}
.line{
    position: relative;
 }
.line:after{
    content: "";
    width: 0;
    height: 3px;
    background-color: black;
    position: absolute;
    bottom: -7px;
    right: 100%;
    transition: all .4s;
    will-change: width;
}
.line:hover:after{
    width: 100%;
    right: 0;
}

.boton button{
    border: none;
    border: 2px solid black;
    background-color: transparent;
    padding: 10px 10px;
    color: white;
    font-size: 14px;
    color: black;
    text-transform: uppercase;
    cursor: pointer;
}

/* Banner */
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    padding: 0 3.5rem;
    gap: 15px;
}

.banner .welcome-benner p{
    background-color: #575252;
    padding: 7px 8px;
    width: 17rem;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.banner .title-banner{
    font-size: 55px;
    color: black;
    font-weight: 600;
}
.banner .text-banner{
    color: black;
    font-weight: 400;
    font-size: 20px;
    padding: 0 10px;
}
.portafolio{
    background-color: transparent;
    border: 2px solid black;
    padding: 8px;
    font-size: 20px;
    width: 9rem;

}
.button-banner{
    padding: 0 3px;
}
.servicio{
    background-color: black;
    border: none;
    padding: 8px;
    font-size: 20px;
    color: white;
    width: 9rem;

}